@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  font-family: sans-serif;
  text-align: center;
  transition: background-color 0.2s ease;
}

.Backspaced {
  color: white;
  background-color: red;
}

.Correct {
  color: #348c1d;
  background-color: #c5e8b5;
}

.Incorrect {
  color: #b31515;
  background-color: #db9a9a;
}
input[type="text"]:focus ~ .inputText {
  @apply text-blue-500 transform -translate-y-9 scale-75;
}

input[type="text"]:valid + .inputText {
  @apply text-blue-500 transform -translate-y-9 scale-75;
}

.inputText2 {
  @apply text-blue-500 text-red-500 transform -translate-y-9 scale-75;
}
